
    <loggingConfiguration name="Zysoft Log Policy" tracingEnabled="true"
        defaultCategory="MethodCall">
        <listeners>
            <add name="Log Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                databaseInstanceName="log" writeLogStoredProcName="pak_log.op_write_log"
                addCategoryStoredProcName="categorize_log" formatter="Log Text Formatter"
                traceOutputOptions="None" />
            <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                fileName="logs\rolling.log" footer="--------------footer--------------------------"
                formatter="Log Text Formatter" header="--------------header--------------------------"
                rollFileExistsBehavior="Increment" rollInterval="Day" />
        </listeners>
      <formatters>
        <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            template="&lt;?xml version=&quot;1.0&quot;?&gt;{newline}&lt;root&gt;{newline}{dictionary(&lt;{key}&gt;{value}&lt;/{key}&gt;{newline})}&lt;/root&gt;"
            name="Log Text Formatter" />
      </formatters>
        <categorySources>
            <add switchValue="All" name="ServiceCall">
                <listeners>
                    <add name="Log Database Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="AppError">
                <listeners>
                    <add name="Log Database Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="MethodCall">
                <listeners>
                    <add name="Rolling Flat File Trace Listener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Log Database Trace Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
