<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
  <!--病人信息-->
  <alias alias="IPreXuanchengCity"  type="Zysoft.ZyExternal.IBLL.His.IPreXuanchengCity, Zysoft.ZyExternal.IBLL.His" />
  <alias alias="IDHCRis"  type="Zysoft.ZyExternal.IBLL.His.IDHCRis, Zysoft.ZyExternal.IBLL.His" />
  
  <alias alias="IRuralResi"  type="Zysoft.ZyExternal.IBLL.RuralInsur.IRuralResi, Zysoft.ZyExternal.IBLL.RuralInsur" />
  <alias alias="IBasicInformation"  type="Zysoft.ZyExternal.IBLL.RuralInsur.IBasicInformation, Zysoft.ZyExternal.IBLL.RuralInsur" />

  <container>
    <!--病人信息-->
    <register type="IPreXuanchengCity"  mapTo="Zysoft.ZyExternal.BLL.His.PreXuanchengCity, Zysoft.ZyExternal.BLL.His" />
    <register type="IDHCRis"  mapTo=" Zysoft.ZyExternal.BLL.His.DHCRis, Zysoft.ZyExternal.BLL.His" />

    <register type="IRuralResi"  mapTo="Zysoft.ZyExternal.BLL.RuralInsur.RuralResi, Zysoft.ZyExternal.BLL.RuralInsur" />
    <register type="IBasicInformation"  mapTo="Zysoft.ZyExternal.BLL.RuralInsur.BasicInformation, Zysoft.ZyExternal.BLL.RuralInsur" />

   
    <extension type="Interception"/>
    <interceptors>
      <interceptor type="InterfaceInterceptor">
        <key type="Zysoft.ZyExternal.IBLL.His.IPreXuanchengCity, Zysoft.ZyExternal.IBLL.His" />
        <key type="Zysoft.ZyExternal.IBLL.His.IDHCRis, Zysoft.ZyExternal.IBLL.His" />
        
        <key type="Zysoft.ZyExternal.IBLL.RuralInsur.IRuralResi, Zysoft.ZyExternal.IBLL.RuralInsur" />
        <key type="Zysoft.ZyExternal.IBLL.RuralInsur.IBasicInformation, Zysoft.ZyExternal.IBLL.RuralInsur" />

      </interceptor>
    </interceptors>
  </container>
</unity>